services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/meu_projecto
    ports:
      - "8000:8000"
    env_file:
      - .env.local
    depends_on:
      - db

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: iassine
      POSTGRES_PASSWORD: iassine123
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
